body{
    background-color: #424141;
    color: #d4d3d3;
}
h2 a{
    color: #000;
}

.Class{
    font-size: 1.2em;
    min-width: 50%;
    background-color: #1f409c;
    border-radius: 30px;
    padding: 1em;
}
.Class p{
    padding: 0;
    margin: 0;
}
.Class .p-l{
    padding-left: 2em;
}
.Class .pb-1{
    margin-bottom: 1em;
}
.Class .p-l-1{
    padding-left: 4em;
}
.parent{
    display: flex;
}
.error{
    background-color: #ba4040;
}
.Trait{
    background-color: #952588;
    border-radius: 30px;
    padding: 1em;
}
.abstractClass{
    background-color: #828282;
    border-radius: 20px;
    padding: 1em;
}
.interface{
    background-color: #685936;
    border-radius: 20px;
    padding: 1em;
}
.description a{
    color: burlywood;
}
.description b{
    color: burlywood;
}
.centered{
    text-align: center;
}
.solid{
    display: flex;
    justify-content: center;
}
.solid__item{
    text-align: center;
}
.solid__item h1{
    border-bottom: 1px solid slategrey;
}
.solid__item:not(:last-child){
    border-right: 1px solid slategrey;
}
.t-a-l{
    text-align: left;
}
.solid{
    width: 100%;
}
.s{
    width: 425px;
    min-width: 420px;
}
.o{
    width: 420px;
    min-width: 400px;
}
.l{
    width: 420px;
    min-width: 400px;
}
.i{
    width: 200px;
    min-width: 200px;
}
.d{
    width: 380px;
    min-width: 380px;
}